.quarto-title-block .quarto-title-banner {
  background: #CCCCCC;
  background-image: url(media/pharmaverseblog.png);
  background-size: 150px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
