name: Links (Fail Fast)

on:
  pull_request: {branches: ['main']}
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: switch .qmd to .md
        run: source("R/switch.R")
        shell: Rscript {0}
        
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}