name: Quarto Publish

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  Update-post-dates:
    runs-on: ubuntu-latest
    container:
      image: "ghcr.io/pharmaverse/docker_pharmaverse:4.5.1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.PAT }}

      - name: Run update_post_dates
        run: Rscript R/update_post_dates.R  # running the R script with Rscript

      - name: Configure Git safe directory
        run: git config --global --add safe.directory /__w/blog/blog

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[skip actions] Auto-update blog post date"
          file_pattern: "."
          commit_user_name: github-actions
          commit_user_email: >-
            41898282+github-actions[bot]@users.noreply.github.com
        continue-on-error: true

  build-deploy:
    needs: Update-post-dates
    runs-on: ubuntu-latest
    container:
      image: "ghcr.io/pharmaverse/docker_pharmaverse:4.5.1"
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
            version: 1.9.12

      - name: Install R Packages
        run: |
          R -e "install.packages(c(
            'diffdf',
            'patchwork',
            'here',
            'link',
            'sessioninfo',
            'riskmetric',        
            'mirai',            
            'dverse',
            'autoslider.core'))"


      - name: Install tinytex
        run: quarto install tool tinytex

      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages  # Target branch for GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
