name: Quarto Publish

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build-deploy:
    needs: Update-post-dates
    runs-on: ubuntu-latest
    container:
      image: "ghcr.io/pharmaverse/docker_pharmaverse:4.5.1"
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Configure Git safe directory
        run: git config --global --add safe.directory /__w/blog/blog

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
            version: 1.9.12

      - name: Install R Packages
        run: |
          R -e "install.packages(c(
            'admiral',
            'diffdf',
            'patchwork',
            'here',
            'filters',
            'janitor',
            'link',
            'sessioninfo',
            'renv',
            'riskmetric',
            'sdtm.oak',
            'mirai',
            'dverse',
            'autoslider.core'))"

      - name: Install tinytex
        run: quarto install tool tinytex

      - name: Mark repo directory as safe
        run: git config --global --add safe.directory /__w/blog/blog

      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: . # Path to your .qmd file
          target: gh-pages  # Target branch for GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
