name: Quarto Publish

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  Update-post-dates:
    runs-on: ubuntu-latest
    container:
      image: "rocker/tidyverse:4.2.1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.PHARMAVERSE_BOT }}

      - name: Run update_post_dates
        run: Rscript R/update_post_dates.R  # running the R script with Rscript

      - name: Configure Git safe directory
        run: git config --global --add safe.directory /__w/blog/blog

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[skip actions] Auto-update blog post date"
          file_pattern: "."
          commit_user_name: github-actions
          commit_user_email: >-
            41898282+github-actions[bot]@users.noreply.github.com
        continue-on-error: true

  build-deploy:
    needs: Update-post-dates
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            jsonlite
            tidyverse
            spelling
            janitor
            diffdf
            admiral
            admiralonco
            admiralophtha
            admiralpeds
            admiralvaccine
            admiralmetabolic
            patchwork
            here
            reactable
            pharmaversesdtm
            metacore
            metatools
            xportr
            pharmaverseadam
            link
            sessioninfo
            rtables
            teal
            riskmetric
            tidyCDISC
            mirai
            sdtm.oak
            dverse
            autoslider.core

      - name: Install tinytex
        run: quarto install tool tinytex

      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
