name: Spellcheck
on:
  pull_request: {branches: ['main']}
jobs:
  Spelling:
    runs-on: ubuntu-latest
    container: {image: "rocker/tidyverse:4.3.1"}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install packages
        run: |
          if (!require("roxygen2")) install.packages("roxygen2")
          if (!require("spelling")) install.packages("spelling")
          if (!require("testthat")) install.packages("testthat")
        shell: Rscript {0}

      - name: Check spelling
        run: |
          testthat::test_that(desc = "Check spelling", code = testthat::expect_equal({
                  typos <- spelling::spell_check_files(list.files(pattern = ".*.qmd$", recursive = TRUE), ignore = readr::read_lines("inst/WORDLIST.txt"))
                  typos
          }
                  object = typos,
                  expected =  spelling::spell_check_files(path = "inst/WORDLIST.txt", ignore = readr::read_lines("inst/WORDLIST.txt"))
                  ))
        shell: Rscript {0}
